<template>
    <a onclick={handleClick}>
        <div class="container">
            <img src={pictureUrl} class="slds-align_absolute-center" alt={name}/>
            <p class="title slds-align_absolute-center">{name}</p>
            <p class="slds-align_absolute-center">
                MSRP:&nbsp;
                <lightning-formatted-number
                    format-style="currency"
                    currency-code="USD"
                    value={msrp}
                    class="price"
                    maximum-fraction-digits="0"
                ></lightning-formatted-number>
            </p>
        </div>
    </a>

</template>