<template>
    <article>
        <div class="slds-card">
        
            <div>
                <lightning-input type="text" label="Search key" onchange={handleSearchKeyChange}></lightning-input>
                <template if:true={wiredProducts.data}>
                    <template for:each={wiredProducts.data} for:item="account">
                        <div key={account.Id}>
                            <p>{account.Name}</p>
                        </div>
                    </template>
                </template>
                <template if:false={wiredProducts.data}>
                    <p>No data to display</p>
                </template>
                <template if:true={wiredProducts.error}>
                    <p>{wiredProducts.error}</p>
                </template>
            </div>
        </div>
    </article>
    <lightning-button label="Thêm mới account" onclick={openModal}></lightning-button>
    <template if:true={isModalOpen}>
        <div class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <div class="slds-modal__header">
                    <h2 class="slds-text-heading_medium">Thêm mới account</h2>
                    <button class="slds-button slds-button_icon slds-modal__close" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close" alternative-text="Close"></lightning-icon>
                    </button>
                </div>
                <div class="slds-modal__content slds-p-around_medium">
                    <div class="slds-p-bottom_large slds-p-left_large" style="width:500px">
                        <lightning-record-edit-form object-api-name="Account"    onsuccess={handleSuccess} onsubmit={handleSubmit} >
                            <lightning-messages></lightning-messages>
                            <lightning-input-field field-name="Name"></lightning-input-field>
                            <lightning-input-field field-name="Phone"></lightning-input-field>
                            <lightning-input-field field-name="BillingAddress"></lightning-input-field>
                            <div class="slds-m-top_medium">
                                <lightning-button type="submit" label="Create Account"></lightning-button>
                            </div>
                        </lightning-record-edit-form>
                    </div>
                </div>
            </div>
        </div>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
<!-- 
        <table class="slds-table slds-table_bordered slds-table_cell-buffer">
          <thead>
            <tr class="slds-text-title_caps">
              <th scope="col">
                <div class="slds-truncate" title="Account Name">Account Name</div>
              </th>
              <th scope="col">
                <div class="slds-truncate" title="Account Number">Account Number</div>
              </th>
              <th scope="col">
                <div class="slds-truncate" title="Industry">Industry</div>
              </th>
              <th scope="col">
                <div class="slds-truncate" title="Phone">Phone</div>
              </th>
            </tr>
          </thead>
          <tbody>
            <template for:each={accounts} for:item="account">
              <tr key={account.Id}>
                <td data-label="Account Name">
                  <div class="slds-truncate" title={account.Name}>{account.Name}</div>
                </td>
                <td data-label="Account Number">
                  <div class="slds-truncate" title={account.AccountNumber}>{account.AccountNumber}</div>
                </td>
                <td data-label="Industry">
                  <div class="slds-truncate" title={account.Industry}>{account.Industry}</div>
                </td>
                <td data-label="Phone">
                  <div class="slds-truncate" title={account.Phone}>{account.Phone}</div>
                </td>
              </tr>
            </template>
          </tbody>
        </table> -->
</template>