<template>
    <div if:true={searchable}>
        <div class="slds-p-around_medium lgc-bg">
            <lightning-input type="text" label="Search Key"></lightning-input>
        </div>
    </div>
    <div if:true={products}>
        <div class="slds-grid slds-gutters">
            <template for:each={products} for:item="p">
                <div class="slds-col" key={p.Id}>
                    <lightning-card title={p.Family}>
                        <lightning-button label="New" slot="actions"></lightning-button>
                        <p class="slds-p-horizontal_small">{p.ProductCode}</p>
                        <p slot="footer">{p.Description}</p>
                    </lightning-card>
                </div>
            </template>
        </div>
    </div>
</template>