.container {
    padding: 8px;
    background-color: aliceblue;
    border-radius: 0.25rem;
}

img {
    height: 120px;
    width: 150px;
    pointer-events: none;
}

.title {
    font-weight: bold;
    text-transform: uppercase;
}